<!DOCTYPE HTML>
<head>
	<title>Image Repository</title>
</head>
<body>

<h1> Image repository </h1>
	<p> Dash board. Currently LOGGED OUT or LOGGED IN AS </p>
<form method="post" action="/">
	<table style="width:100%">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Thumbnail</th>
		<th>Image link</th>
	</tr>
	{% for row in table %}
	<tr>
		<th> <input type="checkbox" name={{row.ID}}/>
		<th>{{row.name}}</th>
		<th>{{row.thumbnailurl}}</th>
		<th>{{row.url}}</th>
	</tr>
	{% endfor %}
	</table>
	<input type="submit"/>
</form>

</body>
</html>
