<!DOCTYPE HTML>
<head>
	<title>Image Repository</title>
</head>
<body>

<h1> Animal Image repository </h1>
<h2> How this was made </h2>
I, Amith Reddy, made this image repository to demonstrate my skillset and understanding of webservices.
<br>This repo was made with python and a sqlite database. This site is hosted on a linux server which is configured to host a website.
<h2> Features </h2>
<p> This is a image repository of animals. You can delete the pictures of 
the animals you don't like. Refer to the instructions below.</p>
<h3> Instructions </h3>
<ul>
	<li><b> To open a image</b>Click on the image name to open the image in a new tab.</li>
	<li> <b> To delete image(s)</b> Select the checkbox and click the "Delete selected" button.</li>
	<li> <b> To reset</b> the database to the original. Click the "Reset Database" button</li>
</ul>
<div>
<form method="post" action="/">
	<table style="width:100%">
	<tr>
		<th>Select</th>
		<th>Image link</th>
	</tr>
	{% for row in table %}
	<tr>
		<th> <input type="checkbox" name={{row.ID}}/>
		<th><a href="static/images/{{row.url}}" >{{row.description}}</th>
	</tr>
	{% endfor %}
	</table>
	<input type="Submit" value="Delete Selected" name="submit"/>
	<input type="Submit" value="Reset Database" name="reset"/>
</form>
</div>
</body>
</html>
